h1{
    color: red;
}

html,
body,
header,
.view {
  height: 90%;
}

.info{
    font-size:medium;
}

.card-img-top {
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

.des{
  font-size: large;

}

.mb{
font-size:15px;
}