<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    
</head>
<body>
    <nav class="navbar navbar-dark default-color">
        <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'home' %}">HOME</a>
    </div>
        <form class="navbar-form form-inline my-2 my-lg-0 ml-auto" role="search" action="{% url 'search_results' %}">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Image" name="image">
                <div class="input-group-btn">
            <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
                </div>
        </div>
        </form>
    </nav>


      
</body>
</html>