{%extends 'base.html'%}
{%block content%}
<div class="container">

    <div class="row">
        {%if images%}
        <h3>found {{images|length}} of searched term{{message}}</h3>
        {%else%}
        <h3>Found 0 images for the search term{{message}}</h3>
        {%endif%}
    </div>
    <div class="row">
        {%if images%}
        {%for image in images%}
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
            Launch demo modal
          </button>
        <div class="col-sm-6 col-md-3">

               <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLongTitle">{{image.name}}</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body mb">
                  {{image.description}}
                </div>
                <div class="modal-footer">
                    {{image.location}}
                </div>
              </div>
            </div>
          </div>
<!--            <h1>{{image.name}}</h1>-->
        </div>
        {%endfor%}
        {%endif%}

          
          <!-- Modal -->

    </div>
</div>


{%endblock%}